@charset "UTF-8";

#wrap {z-index:1;position:relative;width:1438px;border-left:1px solid #ddd;border-right:1px solid #ddd;margin:0 auto;}
#wrap #header {z-index:3;position:relative;width:100%;height:103px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;background:#fff;}
#wrap #main   {z-index:2;position:relative;width:100%;height:auto;background:#fff;}
#wrap #main #section1  {width:100%;height:720px;background:#fff;border-bottom:1px solid #ddd;}
#wrap #main #section1 .slide-container {position:relative;width:1438px;}
#wrap #main #section1 .slide-container .slide-view {z-index:1;position:relative;width:1438px;overflow:hidden;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap {position:relative;left:calc(-1438px*0);width:calc(1438px*7);margin-left:-1438px;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide {float:left;width:1438px;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide div {width:100%;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide div a {display:block;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide div a img {width:100%;}

#wrap #main #section1 .slide-container .page-btn-wrap {z-index:2;position:absolute;bottom:50px;width:100%;text-align:center;}
#wrap #main #section1 .slide-container .page-btn-wrap li {display: inline-block;width:10px;height:10px;border:2px solid #fff;box-sizing:border-box;margin:5px 7px;border-radius:50%;overflow:hidden;transition:all .3s;}
#wrap #main #section1 .slide-container .page-btn-wrap li.addPage {width:20px;height:20px;margin:0 7px;}
#wrap #main #section1 .slide-container .page-btn-wrap li a {display:block;width:10px;height:10px;background:#fff;transition:all .3s;}
#wrap #main #section1 .slide-container .page-btn-wrap li.addPage a {background:transparent;}


#wrap #main #section1 .slide-container .next-btn-wrap {z-index:2;position:absolute;right:0;bottom:50%;width:70px;height:70px;}
#wrap #main #section1 .slide-container .next-btn-wrap a {display:block;width:100%;height:100%;background:#c00;}
#wrap #main #section1 .slide-container .next-btn-wrap a i {display:block;width:30px;height:30px;border:1px solid #fff;}

#wrap #main #section1 .slide-container .prev-btn-wrap {z-index:2;position:absolute;right:0;top:50%;width:70px;height:70px;background:#00c;}
#wrap #main #section1 .slide-container .prev-btn-wrap a {display:block;width:100%;height:100%;background:#cc0;}
#wrap #main #section1 .slide-container .prev-btn-wrap a i {display:block;width:30px;height:30px;border:1px solid #fff;}




#wrap #footer {z-index:1;position:relative;width:100%;height:700px;/*임시높이*/background:#fff;border-bottom:1px solid #ddd;}
